{% extends 'base.html' %}

{% block content %}

  <h1>DETAIL</h1>
  <h2>{{ article.pk }}번째 글</h2>
  <hr>
  <p>제목 : {{ article.title }}</p>
  <p>내용 : {{ article.content }}</p>
  <p>작성 시각 : {{ article.create_at }}</p>
  <p>수정 시각 : {{ article.updated_at }}</p>
  <br>
  <hr>
  <form action="{% url 'articles:delete' article.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value='DELETE'>
  </form>
  <hr>
  <a href="{% url 'articles:edit' article.pk %}">수정</a>
  <hr>
  <a href="{% url 'articles:index' %}">처음으로</a>

{% endblock content %}